# images

*.jpg  binary
*.jpeg binary
*.bmp  binary
*.tiff binary
*.png  binary
*.svg  binary
*.ico  binary

# binary files
*.exe  binary
*.dll  binary

# PowerShell specific
*.ps1  working-tree-encoding=UTF-8
*.psm1 working-tree-encoding=UTF-8
*.psd1 working-tree-encoding=UTF-8

*.md working-tree-encoding=UTF-8
