# images
*.jpg  binary
*.jpeg binary
*.bmp  binary
*.tiff binary
*.png  binary
*.svg  binary
*.ico  binary

# binary files
*.exe  binary
*.dll  binary

# fonts
*.ttf binary

# PowerShell specific
*.ps1  working-tree-encoding=UTF-8
*.psm1 working-tree-encoding=UTF-8
*.psd1 working-tree-encoding=UTF-8

# misc
*.md working-tree-encoding=UTF-8
